body{
  width:100%;
}

.wrapper{
  width: 100%;
}

.container{
  width: 100%;
  height: 300px;
  background-color:rgb(189, 214, 189);
  padding-top:10px;
  margin: 0 auto;
}

.title{
  width: 500px;
  height: 40px;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 20px;
  background-color:darkgreen;
  color: white;
  text-align: center;
}

.btn{
  background-color: limegreen;
  font-size: 15px;
  width: 22%;
  color:black;
  float: left;
  margin-top: 50px;
  margin-left: 15px;
  border-radius: 10px;
  height: 50px;
  box-shadow: 0px 5px darkslategrey;
}

.btn:hover{
  background-color: lime;
  cursor: pointer;
}

.btn:active{
  box-shadow:none;
  position: relative;
  top:5px;
}

@media(max-width:670px){


  body{
    width:100%;
    height: 100%;
    margin: 0;
  }
  .no-js{
    width:100%;
  }

  .wrapper{
    width: 100%;
  }
  
  .container{
    width: 100%;
    height: 500px;
    padding-top:20px;
    margin:0px;
  }
  
  .title{
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 100%;
    margin: 0px;
  }
  
  .answer{
    width:100%;
  }


  .btn{
    background-color: limegreen;
    font-size: 15px;
    width: 70%;
    color:black;
    margin-left:50px;
    margin-top: 40px;
    border-radius: 10px;
    height: 50px;
    box-shadow: 0px 5px darkslategrey;
  }
  
}
